{deps, [
  {lfe, "~> 2.1"}
]}.

{project_plugins, [
  {rebar3_lfe, "~> 0.4"}
]}.

{provider_hooks, [
  {pre, [{compile, {lfe, compile}}]}
]}.

{xref_checks,[
  undefined_function_calls,undefined_functions,locals_not_used,
  deprecated_function_calls,deprecated_functions
]}.

{dialyzer, [
  {warnings, [unknown]}
]}.

{profiles, [
  {test, [
    {deps, [
      {proper, "~> 1.4"},
      {ltest, "~> 0.13"}
    ]},
    {plugins, [
      {rebar3_proper, "~> 0.12"}
    ]},
    {eunit_opts, [verbose]},
    {erl_opts, [{src_dirs, ["src", "test"]}]}
  ]},
  %% To publish: 'rebar3 as maintainer hex publish'
  {maintainer, [
    {deps, [rebar3_hex]}
  ]}
]}.

{alias, [
  %% Run with 'rebar3 as test coverage'
  {coverage, [
    {proper, "-c"},
    {cover, "-v --min_coverage=0"}
  ]},
  %% Run with 'rebar3 as test check'
  {check, [
    compile,
    %%xref,
    %%dialyzer,
    {lfe, "ltest -tall"},
    coverage
  ]}
]}.
